* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading{
  border-top: 16px solid rgb(12, 12, 12);
  border-bottom: 16px solid rgb(13, 13, 14);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(10, 10, 10);
  border-bottom: 16px solid rgb(0, 0, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
//STYLE HOME PAGE
body {
  
  background-color: black;
}
.img_home{
  width: 100vw;
  height: auto;
}
 //ESTILOS INPUT
.character_input{
  border-radius: 15px;
  border-color: aquamarine;
  width: 110px;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

//ESTYLE CHARACTER'S LIST
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.characterCard_photo{
  width: 120px;
  border: 3px solid yellow;
}
.article {
  margin-top: 30px;
  border: 4px solid #a6eee6ff;
  background: linear-gradient(70deg, rgb(15, 26, 111), rgb(108, 115, 209));
  padding-top: 20px;
  padding-bottom: 20px;
  width: 174px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
 -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.article:hover{
  transform: scale(1.2);
  background:black;
  z-index: 10;
 
 
}

.character_title {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 16px;
  font-weight: 600;
}
.label{
  margin-right: 10px;
  color: #a6eee6ff;
  font-size: 16px;
}
li {
  list-style: none;
  font-family: "Shadows Into Light", cursive;
}


//STYLE CARD DETAILS.
.characterDetail_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/364/740/974/rick-and-morty-orange-space-planet-blue-hd-wallpaper-preview.jpg");
  height: 100vh;
  width: auto;
  background-position: center;
}

.characterDetail_containerImg{
  display: flex;
  justify-content: center;
}

.characterDetail_containerInfo{
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 241px;
  width: 200px;
  background: linear-gradient(70deg, rgb(15, 26, 111), rgb(108, 115, 209));
  padding: 5px 5px 5px 5px;
  border: 3px solid rgb(15, 26, 111);
  box-shadow: 10px 5px 5px #0f1a6f;
  border-top: none;
  
}

.characterDetail{
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 16px;
  font-weight: bolder;
  height: 45px;
  }

  .characterDetail_button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .characterDetail_home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.characterDetail_imgDetail {
width: 200px;
border: 3px solid rgb(15, 26, 111);
height: 188px;
box-shadow: 10px 5px 5px rgb(15, 26, 111);
border-bottom: none;
}

//BUTTON BACK TO HOMEPAGE
.home{
    height: 50px;
    width: 80px;
    color: white;
    font-family: "Shadows Into Light", cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 16px;
    background: linear-gradient(70deg, rgb(15, 26, 111), rgb(108, 115, 209));
    border-radius: 20%;
    margin-top: 15px;
    cursor: pointer;
    transition: 2s ease-out;
    box-shadow: 10px 5px 5px #0f1a6f;
  
   }
.home:hover{
  background:rgb(15, 26, 111);
}
p{
  color:red;
  margin-bottom: 25px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.gif{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.gif_error{
  width: 345px;
}

//MEDIAQUERIES
@media all and (min-width:550px) {
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .article{
    margin-left: 28px;
    margin-right: 28px;
  }
  .character_input{
    width: 200px;
  }
.label{
  font-size: 20px;
}
.characterDetail_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.characterDetail_imgDetail{
  height: 241px;
  width: auto;
  border-bottom: 3px solid rgb(15, 26, 111);
}
.characterDetail_containerInfo{
  width: fit-content;
  border-top: 3px solid rgb(15, 26, 111);
}
.home{
  margin-left: 10px;
}
.characterDetail{
  letter-spacing: 2px;
}
.gif_error{
  width: 650px;
}
.p{
  font-size: 20px;
}
}